body {
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(170, 120, 50, 0.821));
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(170, 120, 50, 0.821), rgba(0,0,0,1))
    /* background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(161, 127, 78, 0.821)); */
}

.card {
    width: 18rem !important;
    margin: 2%;
    background-color: rgb(199, 190, 181) !important;
}

.card-img-top {
    width: 109% !important;
    margin-left: -12px !important;
}
