// .MainCart {
//     display: flex;
// }

// .form-box {
//     width: 25%;
//     height: 430px;
//     position: relative;
//     margin: 0 auto;
//     background-color: white;
//     padding: 5px;
//     overflow: hidden;
//     border-radius: 10px;
// }

#blog-home {
    color: white;
}

#cart-container {
    overflow-x: auto;
}

#cart-container table {
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

#cart-container table thead {
    font-weight: 700;
}

#cart-container table thead td {
    background: #f18723;
    color: #fff;
    border: none;
    padding: 6px 0;
}

#cart-container table td {
    border: 1px solid #b6b3b3;
    text-align: center;
}

#cart-container table td:nth-child(1) {
    width: 120px;
}

#cart-container table td:nth-child(2) {
    width: 270px;
}

#cart-container table td:nth-child(3) {
    width: 100px;
}

#cart-container table td:nth-child(4) {
    width: 130px;
}

#cart-container table td:nth-child(5) {
    width: 100px;
}

#cart-container table td:nth-child(6) {
    width: 50px;
}

// #cart-container table td:nth-child(1) {
//     width: 20px;
// }

// #cart-container table td:nth-child(2) {
//     width: 70px;
// }

// #cart-container table td:nth-child(3) {
//     width: 160px;
// }

// #cart-container table td:nth-child(4) {
//     width: 60px;
// }

// #cart-container table td:nth-child(5) {
//     width: 100px;
// }

// #cart-container table td:nth-child(6) {
//     width: 60px;
// }
// #cart-container table td:nth-child(7) {
//     width: 50px;
// }

#cart-container table tbody img {
    width: 100px;
    height: 80px;
    object-fit: cover;
}

#cart-container table tbody i {
    color: #8d8c89;
}

#cart-bottom .coupon>div,
#cart-bottom .total>div {
    border: 1px solid #b6b3b3;
    background-color: rgb(255, 255, 255);
}

#cart-bottom .coupon h5,
#cart-bottom .total h5 {
    background: #f18723;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}

#cart-bottom .coupon p,
#cart-bottom .coupon input {
    padding: 0 12px;
}

#cart-bottom .coupon input {
    height: 44px;
}

#cart-bottom .coupon input,
#cart-bottom .coupon a {
    margin: 15px 0 20px 12px;
}


#cart-bottom .total div>div {
    padding: 0 12px;
}

#cart-bottom .total h6 {
    color: #2a2a2a;
}

.second-hr {
    background: #b8b7b3;
    width: 100%;
    height: 1px;
}

#cart-bottom .total div>button {
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
