.headerTittle {
    margin: 2%;
    padding-top: 5%;
}

.InfoPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .Member {
        background-color: #191C24;
        border: 1px solid #888888;

        .header {
            color: rgb(216, 199, 199);
        }

        .footer {
            color: rgb(184, 178, 178);
        }
    }

    .Product {
        background-color: #191C24;
        border: 1px solid #888888;

        .header {
            color: rgb(216, 199, 199);
        }
    }

    .Kategori {
        background-color: #191C24;
        border: 1px solid #888888;

        .header {
            color: rgb(216, 199, 199);
        }
    }

    .TotalRevenue {
        background-color: #191C24;
        border: 1px solid #888888;

        .header {
            color: rgb(216, 199, 199);
        }

        .footer {
            color:  rgb(184, 178, 178);
        }
    }
}

.card {
    width: 300px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-top: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
}

.mainDashboard {
    display: flex;
}

.column {
    flex: 1;
    margin: 1%;
}

.bar-chart {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #191C24;
    border: 1px solid #888888;

    .header {
        padding-left: 3%;
    }
}

.recent-sales {
    // background-color: #f0f0f0;
    background-color: #191C24;
    color: white;
    border-radius: 5px;
    padding: 10px;
    // margin: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #888888;

    .header{
        padding: 2% 0 0 4%;

        .SalesTotal {
            color: rgb(184, 178, 178);
        }
    }

    .Box {
        margin-top: 5%;
        height: 360px;
        overflow-y: auto;
        overflow-x: hidden;

        .MainRecentSales {
            display: flex;
            flex-direction: column;

            .email {
                color: rgb(184, 178, 178);
            }
        }

        i {
            font-size: 40px;
            margin: 30px;
        }
    }
}
