.InfoPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-top: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
}

.mainDashboard {
    display: flex;
}

.column {
    flex: 1;
    margin: 1%;
}

.bar-chart {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recent-sales {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .Box {
        margin-top: 5%;
        height: 360px;
        overflow-y: auto;
        overflow-x: hidden;

        .MainRecentSales {
            display: flex;
            flex-direction: column;
        }

        i {
            font-size: 40px;
            margin: 30px;
        }
    }
}

