.footer .Judul {
    font-size: 28px;
    font-family: monospace;
}

.support a {
    text-decoration: none;
    color: rgb(199, 155, 74);
    font-size: 18px;
}

.support a:hover {
    color: grey;
}

.Social a {
    /* margin-top: 2%;  */
    color: rgb(199, 155, 74);
    font-size: 18px;
    text-decoration: none;
}

.Social a:hover {
    color: grey;
}
